/* css for index.html */

nav > ul > li{
    display: inline;
    margin-right: 10px;
}
ul li >a{
    text-decoration: none;
}

/* css for form.html */
label{
    display:block;
    margin-bottom: 10px;
}